//
//  secrets.xcconfig
//  Shelf Notes
//
//  Created by Marc Fechner on 23.01.26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

GOOGLE_BOOKS_API_KEY = AIzaSyCkjyKGNLbj23v5jnS3cKlUH8sYxnhhsmU
