<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GOOGLE_BOOKS_API_KEY</key>
	<string>$(GOOGLE_BOOKS_API_KEY)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Zum Scannen von ISBN-Barcodes benötigt Shelf Notes Zugriff auf die Kamera.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Zum Auswählen eines eigenen Covers benötigt Shelf Notes Zugriff auf deine Fotos.</string>
</dict>
</plist>
